.link{
  margin: 3px;
  text-decoration: none;
  font-size: large;
  color: chocolate;
}
.navbar{
  display: flex;
  align-items: center;
  margin: 5px 40px;
}
.title{
  margin-right: auto;
  font-size: 3rem;
  text-decoration: none;
}
.form{
  display: grid;
justify-content: center;
  }
.form > * {
  
  text-align: center;
}
.btn{
margin-top: 15px;
color: white;
background-color: #551A8B;
border-radius: 5px;
padding: 5px 10px;
border: none;
}
.select{
margin-top: 15px;
}